In [1]:
# Importo la librería que voy a utilizar.
import pandas as pd

In [2]:
# Creo un dataframe con los datos transformados.
url = 'https://drive.google.com/uc?id=1Du_gvJUXktgUGZTi7dF7CHyR-R7H_U8m'
df = pd.read_csv(url)

In [9]:
df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,plataforma,duration_int,duration_type,score
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,amazon,113.0,min,3.5
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,amazon,110.0,min,3.5
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,amazon,74.0,min,3.5
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",amazon,69.0,min,3.5
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,amazon,45.0,min,3.5

In [3]:
# Variables que tomarán el valor de los parámetros de filtro de las queries.

platform = 'amazon'
type = 'movie'
score = 3.5
year = 2014
duration_type = 'min'
actor = 'gleeson'

Query 1 --> Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. 
(la función debe llamarse get_max_duration(year, platform, duration_type))

In [4]:
df[(df['plataforma'] == platform) & (df['release_year'] == year) & (df['duration_type'] == duration_type)].sort_values(by = 'duration_int' , ascending = False).iloc[0,3]

'midnight thunderstorm for sleep 9 hours'

Query 2 --> Cantidad de películas por PLATAFORMA con un PUNTAJE mayor a XX en determinado AÑO (la función debe llamarse get_score_count(platform, score, year))

In [5]:
df[(df['plataforma'] == platform) & (df['score'] > score) & (df['release_year'] == year)].shape[0]

141

Query 3 --> Cantidad de películas por PLATAFORMA. (La función debe llamarse get_count_platform(platform))

In [6]:
df[(df['plataforma'] == platform) & (df['type'] == type) ].shape[0]

7814

Query 4 --> Actor que más se repite según PLATAFORMA y AÑO. (La función debe llamarse get_actor(platform, year))

In [15]:
q4_aux1 = df[(df['plataforma'] == platform) & (df['release_year'] == year)]
q4_aux2 = q4_aux1.assign(actor=q4_aux1.cast.str.split(',')).explode('cast')
q4_aux3 = q4_aux2.cast.value_counts()

max_actor = q4_aux3.index[0]
max_count = int(q4_aux3.iloc[0])
q4 = dict({'actor/actriz': max_actor, 'vez/veces que aparece': max_count})
q4

{'actor/actriz': 'anne-marie newland', 'vez/veces que aparece': 5}